<h1>所有产品</h1>

<table class="table">
	<thead>
		<tr>
			<td>#</td>
			<td>名称</td>
			<td>描述</td>
		</tr>
	</thead>

	<tbody>
		<% @products.each do|product| %>
		<tr>
			<td> # </td>
			<td> <%= link_to(product.name, product_path(product))%></td>
			<td> <%= product.description %> </td>
			</td>
		</tr>

		<%end%>
	</tbody>
</table>
<div>



