
<divclass="span12">
<div class="group">
<%= link_to("编辑", edit_product_path(@product) , :class => "btn btn-mini btn-primarypull-right")%> 
<%= link_to '返回', products_path %>
</div>
<h2> <%= @product.name %> </h2>
<p> <%= @product.description %> </p> </div>
