<header>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "嘉实财富", '#', id: "logo" %>
           
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <% if signed_in? %>
                  <% if cookies[:user_type] =='P' %>
                    <ul class="nav navbar-nav" id="menu">
                    <li id="product" ><a href="/products">我的产品</a></li>
                    <li id="allrequirements"><a href="/allrequirements">所有需求</a></li>
                    </ul>
                  <%end%>
                   <% if cookies[:user_type] =='S' %>
                    <ul class="nav navbar-nav" id="menu">
                    <li id="requirement" ><a href="/requirements">我的需求</a></li>
                    <li id="allproducts"><a href="/allproducts">所有产品</a></li>
                    </ul>
                  <%end%>
             <ul class="nav navbar-nav navbar-right">
              <li>
                  <%=link_to cookies[:name], user_path(@current_user)%>
              </li>
              <li>
                <%=link_to "注销", signout_path, method:"delete"%>
              </li>
               </ul>
            </div>
         <%end%>
       </div>
     </div>
   </div>
 
</header>
