<header class="navbar navbar-fixed-top navbar-inverse bs-docs-nav">
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "嘉实财富", '#', id: "logo" %>
           <% if signed_in? %>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <% if cookies[:user_type] =='P' %>
                   <ul class="nav navbar-nav">
                   <li id="product" onclick=getFocus1()><a href="/products">我的产品</a></li>
                   <li id="allrequirements" onclick=getFocus2()><a href="/allrequirements">所有需求</a></li>
                   </ul>
                <%end%>
             <ul class="nav navbar-nav navbar-right">
              <li>
                  <%=link_to cookies[:name], signin_path%>
              </li>
              <li>
                <%=link_to "注销", signout_path, method:"delete"%>
              </li>
               </ul>
            </div>
         <%end%>
       </div>
     </div>
   </div>
   <script>
   function getFocus1()
   {
   document.getElementById("product").className="active";
   document.getElementById("allrequirements").className="";
   }
   function getFocus2()
   {
   document.getElementById("allrequirements").className="active";
    document.getElementById("product").className="";
  }
   </script>
</header>
